<div id="<%= dom_id photo %>">
  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= photo.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= photo.category %>
  </p>

  <p>
    <strong>Likes:</strong>
    <%= photo.likes %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= photo.image %>
  </p>

  <p>
    <strong>Timestamps:</strong>
    <%= photo.timestamps %>
  </p>

</div>
